# Add the following to your gitignore:

# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

# Optional: Generic Modpack Ignores
*.log
.mixin.out/
crash-reports/
downloads/
journeyMap/
logs/
mods/
options.txt
resourcepacks/
saves/
usercache.json
usernamecache.json

# Config: Specific config files with no intention of change
config/AppliedEnergistics2/Facades.cfg
config/BNBGamingCore.cfg
# This should be configured by the players themselves
config/acronym/
config/bbm/
config/betterfps.json
config/carryon-scripts/
config/carryon.cfg
config/chesttransporter.cfg
config/codechicken/
config/codechickenlib.cfg
config/CookingForBlockheadsCompat
config/ctm.cfg
config/customlavagenerator.cfg
config/fastbench.cfg
config/fastfurnace.cfg
config/foamfix.cfg
config/forge.cfg
config/forgeChunkLOading.cfg
config/fpsreducer/
config/InvTweaks.cfg
config/InvTweaksRules.txt
config/InvTweaksTree.txt
config/jei/
config/journeymap_ModInfo.cfg
config/morpheus.cfg
config/phosphor.json
config/surge.cfg
config/TinkerToolLeveling.cfg
config/topography/documentation/
config/topography/examples/
config/unloader.cfg
config/vanillafix/
config/vanillafix.cfg

# .gitignore files with parent mods that should be removed
config/loadingprofiler.cfg
config/nbttooltip.cfg

# Microsoft Excel
~$*.xlsx

# VSCode: ZenScript Extension
scripts/.zsrc
