# Instance Sync
**/*.jar
!InstanceSync*.jar
**/*.jar.disabled
**/*.jar.meta

# Optional: Generic Modpack Ignores
*.log
.mixin.out/
crash-reports/
downloads/
journeyMap/
logs/
mods/
options.txt
resourcepacks/
saves/
usercache.json
usernamecache.json

# Config: Specific config files with no intention of change
config/AppliedEnergistics2/Facades.cfg
config/blockcraftery.cfg
config/BNBGamingCore.cfg
config/craftingtweaks.cfg
config/fastleafdecay.cfg
config/forestry/apiculture.cfg
config/forestry/lepidopterology.cfg
config/jei/worldSettings.cfg
config/laser_drill_ores/
config/loottweaker.cfg
config/PressurePipes/readme.txt
config/stg.cfg
config/splash.properties

# This should be configured by the players themselves
config/acronym/
config/aurora.cfg
config/bbm/
config/betterfps.json
config/BlockDrops/
config/carryon-scripts/
config/carryon.cfg
config/chesttransporter.cfg
config/chunkanimator.cfg
config/codechicken/
config/codechickenlib.cfg
config/cofh/core/
config/cofh/thermaldynamics/client.cfg
config/cofh/thermalfoundation/client.cfg
config/CookingForBlockheadsCompat
config/ctm.cfg
config/customlavagenerator.cfg
config/fastbench.cfg
config/fastfurnace.cfg
config/foamfix.cfg
config/forge.cfg
config/forgeChunkLOading.cfg
config/fpsreducer/
config/InvTweaks.cfg
config/InvTweaksRules.txt
config/InvTweaksTree.txt
config/jei/bookmarks.ini
config/jei/jei.cfg
config/jei/searchColors.cfg
conifg/jei/worldSettings.cfg
config/journeymap_ModInfo.cfg
config/MoreOverlays.cfg
config/morpheus.cfg
config/phosphor.json
config/surge.cfg
config/TinkerToolLeveling.cfg
config/topography/documentation/
config/topography/examples/
config/unloader.cfg
config/vanillafix/
config/vanillafix.cfg

# .gitignore files with parent mods that should be removed
config/loadingprofiler.cfg
config/nbttooltip.cfg

# Microsoft Excel
~$*.xlsx

# VSCode: ZenScript Extension
config/Probe.cfg
scripts/.zsrc

# VSCode: Java Extension
.vscode/

# Re-Authentication mod
.ReAuth.cfg

# Loottweaker Table Dumps
dumps/

# AutoHotkey Scripts for 2560x1440
*.ahk
